<input type="hidden" id="login" value="<%= @user.login %>">

<ul id='iframes' class="nav nav-tabs">
  <% @user.json_content.each_with_index do |row , index| %>
    <li id="<%= index %>" class="<%= 'active' if index == 0  %>"><a data-toggle="tab" href="#link<%= index %>"><%= row['title'] %><button class="close closeTab" type="button" >×</button></a></li>
  <% end %>
  <button onclick="addTab()" class="btn btn-success">Add</button>
</ul>

<div class="tab-content">
  <% @user.json_content.each_with_index do |row , index| %>
    <div id="link<%= index %>" class="tab-pane fade <%= 'in active' if index == 0  %>">
      <iframe src="<%= row['src'] %>"></iframe>
    </div>
  <% end %>
</div>



<script text="text/javascript">

  setInterval(function(){
    var elementos = $('ul li').toArray();

    var ativo = elementos.find(function (el) { return $(el).hasClass("active"); });

    var proximoId = 1;

    if (parseInt($(ativo).attr("id")) + 1 <= $('ul li').toArray().length)
      proximoId = parseInt($(ativo).attr("id"))+1;

    $("#" + proximoId + " a").click();

  }, 2000);


  //this method will register event on close icon on the tab..
  function registerCloseEvent() {

      $(".closeTab").click(function () {

          //there are multiple elements which has .closeTab icon so close the tab whose close icon is clicked
          var tabContentId = $(this).parent().attr("href");
          $(this).parent().parent().remove(); //remove li of tab
          $('#iframes a:last').tab('show'); // Select first tab
          $(tabContentId).remove(); //remove respective tab content

      });
  }

  var addTab = function(){
    var url = prompt("Please enter your url", "New tab");

    if (url != null) {
        $.ajax({
          url: "/options/add_tab/" + $("#login").val(),
          type:'POST',
          data: { 'url': url }
        })
    }
  }

  $(function () {
    registerCloseEvent();
  })

</script>

